<h3>Welcome {{name}}!</h3>
<p>Here are your stories:</p>
{{#if stories}}
   <table class="striped">
       <thead>
           <tr>
               <th>Title</th>
               <th>Date</th>
               <th>Status</th>
               <th></th>
           </tr>
       </thead>
       <tbody>
           {{#each stories}}
             <tr style="margin-bottom: 5px;">
                 <td class="titleShort" style="max-width:100px; word-wrap:break-word"><a href="/stories/{{_id}}">{{title}}</a></td>
                 <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                 <td><span class="dash-status">{{status}}</span></td>
                 <td> 
                     <a href="/stories/edit/{{_id}}" class="btn btn-float">
                       <i class="fas fa-edit"></i>
                     </a>
                     <form action="/stories/{{_id}}" method="POST" id='delete-form'>
                       <input type="hidden" name="_method" value='DELETE'>
                       <button type="submit" class="btn red">
                           <i class="fas fa-trash"></i>
                       </button>
                     </form>
                   
                   </a>
                 </td>
             </tr>
           {{/each}}
       </tbody>
   </table>

{{else}}
<p>You have not created any stories.</p>
 
{{/if}}


{{!-- notice we didn't have to use 'stories.title' or 'stories.createdAt' or 'stories.status'. That is covered automatically since we are within the stories loop. --}}
{{!-- formatDate is an handlebars helper passed down from (app.js|hbs.js) --}}
{{!-- formatDate(function) createdAt(argument 1) 'MMMM Do YYYY, h:mm:ss a'(argument 2) --}}
{{!-- other than using the methodOverride for the delete request (line 24-29_using a form), we could simply just use a get request, but, doing that, we would need another route cos
 a get request to /stories/{{_id}} is probably taken. So basically, using methodOverride is a cleaner way.--}}